html{
	width: fit-content;
	margin: auto;
}

* {
	font-family: 'Inter';
	font-style: normal;
}

h2{
	font-size: 40px;
}
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.social-link img {
	width: 20px;
	height: 20px;
}

img {
	object-fit: cover;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.photo.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.slider-pic{
	width: 1920px;
	height: 888px;
	max-width: 100%;
}

.about-pic{
	width: 560px;
	height: 560px;
	max-width: 100%;
}

.quote-pic{
	width: 420px;
	height: 420px;
	max-width: 100%;
}

.carrousel-pic{
	max-width: 100%;
    width: 866px;
    height: 700px;
}

.photo {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

#about-me {
	flex: 2
}
.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 40px;
}
.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
	font-size: 22px;
}

.about-me__description{
	font-size: 20px;
}

#gallery .inactive{
	width: 0;
	padding: 0;
}

.card{
	border: none;
}

#lightbox{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #57575780;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;

}

#lightbox.show{
	display: flex;
	z-index: 99;
}

#lightbox .content {
	width: 600px;
	background-color: #fff;
    padding-bottom: 20px;
}

.content{
	display: flex;
    flex-direction: column;
}

.close {
	display: flex;
	justify-content: right;
}
#slider-box{
	display: flex;
	margin-right: 45px;
}

#lightbox .content .picture{
	width: 100%;
}

.gallery-grid{
	display: flex;
	flex-wrap: wrap;
	width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.title{
	text-align: center;
	padding-top: 40px;
}
#filters {
	justify-content: center;
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
}

.filter{
	padding: 10px 15px 10px 15px;
	font-size: 26px;
}

button {
	background-color: transparent;
	border-style : none;
}
.filter.active, .filter:active, .filter:focus{
	background-color: #BEB45A;
	color: #000;
	cursor: pointer;
}

.gallery-img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	padding: .5em;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
	font-size: 22px;

}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.photo.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

footer {
	display:flex;
	justify-content: space-between;
}

.bold-title {
	font-size: x-large;

}

#adress-box {
	display:flex;
	flex-direction: column;
	padding: 20px 10px 10px 20px;
	font-size: 20px;
}

#legal-mentions {
	padding: 20px 10px 10px 30px;
    display: flex;
	align-items: end;
}

#legal-mentions a {
	color: #000;
    text-decoration: none;
	font-size: 20px;
}

@media all and (max-width: 1180px) {
	.photo {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h6, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.photo {
		width: 50%;
	}
	.photo.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .photo.right {
		margin-top: 1em;
	}
	.photo.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	html{
		max-width: 100%;
	}
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.photo.left::before, .photo.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.photo {
		width: 80%;
	}

	.about-pic {
		width: 270px;
		height: 270px;
	}

	.slider-pic {
		height: 250px;
	}

	#filters {
		flex-wrap: wrap;
	}

	.gallery-grid {
		width: 100%;
		justify-content: center;
	}

	.gallery-img {
		width: 350px;
		height: 348px;
	}

	#lightbox .content {
		margin-top: 150px;
	}

	.quote-pic {
		width: 100%;
		height: 100%;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

	#legal-mentions {
		margin-top: auto;
		margin-bottom: 10%;
	}
}

